@font-face {
    font-family: 'Pixeled';
    src: url('fonts/Pixeled.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

$bg: #f0e061;
$button: #70868c;
$button-text: #f0e061;
$border: #70868c;

body{
    background-color: #f0e061;
}

h1{
    font-family: 'Pixeled', sans-serif;
    margin: 5px;
}

h2{
    font-family: 'Pixeled', sans-serif;
    margin: 3px;
}

p{
    font-family: 'Pixeled', sans-serif;
    margin: 5px;
    text-align: center;
}

button {
    font-family: 'Pixeled', sans-serif;
    border: 3px dotted $border;
    margin: 5px;

}

input{
    font-family: 'Pixeled', sans-serif;
    border: 3px dotted $border;
    margin: 5px;
    background-color: $bg;
    color: black;
}

canvas{
    display: block;
    margin: auto;
    border: 5px dashed #70868c;
}

.app{
    font-family: 'Pixeled', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

